table {
  margin-left: 20px;
}
thead {
  border-bottom: 1px solid #616161;
}
td {
  padding: 5px 10px 5px 10px;
}

.refresh-block {
  margin-top: 10px;
  margin-left: 20px;
}
.time-ago {
  min-width: 140px;
}