.btn-margin {
  margin: 7px 3px;
}
.btn-primary {
  color: #fff;
  background-color: #00aed8;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0086af;
}
.navbar {
  color: inherit;
  background-color: inherit;
  border: none;
  border-bottom:  1px solid #616161;
}
.navbar-default .navbar-brand {
  color:  #fff;
}